* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

body {
  background: #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.container > * {
  flex: 1 1 auto;
}

#nav-left {
  max-width: 400px;
  min-width: 200px;
}

#game-middle {
  flex-grow: 3;
  min-width: 400px;
  background-color: white;
}

#info-right {
  max-width: 400px;
  min-width: 200px;
}

#step {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 2px;
}

#step.in-progress {
  border: 1px solid #444;
}
#step.finished {
  border: 1px solid #00bd98;
  background-color: #00bd98;
}
#step.losing {
  border: 1px solid #444;
  background-color: #444;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game > #game-header {
  flex-basis: 100px;
}

.game > #game-content {
  flex-grow: 1;
}

#game-header {
}

#game-content {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
}
