@keyframes extend {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shrink {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes filp-out {
  0% {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes filp-in {
  0% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

#super-memo {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

#memo-grid {
  padding: 5px;
}

#memo-piece {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #eee;
  transition: background-color 1s;
  animation: 1s extend forwards;
}

#memo-piece.active-out {
  animation: 1s filp-in;
}

#memo-piece.active {
  border: none;
  animation: 1s filp-out;
}

#memo-piece.silent {
  animation: none;
}

#memo-piece.disappear {
  animation: 1s shrink forwards;
}

#super-memo-header {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#super-memo-header#steps {
}
